/* 
    Document   : ContentManager
    Created on : Sep 11, 2012, 5:39:51 PM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

.topDiv { 
    float: left;
    max-width: 33%;
    min-width:25%;
}

.radioLabel
{
}
table.entries
{
    cursor: pointer;
}
table.entries >tbody > tr:hover
{
    background-color:yellow;
}

input.renameGroup
{
    width: 100%;
}
.groupDescription
{
    cursor: pointer;
}

.groupDescription:hover
{
    background-color: yellow;
}
.mode_option
{
    cursor: pointer;
}
div[mode_choice='true'].mode_option
{
    background-color: activecaption;
}
