/* 
    Document   : MedSIGdialog
    Created on : Sep 16, 2011, 11:04:18 PM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

input.qty,input[func='qty'],div[func='qty']
{
    width: 2em;
}

input.units,input[func='units']
{
    width: 6em;
}

input.route,input[func='route']
{
    width: 6em;
}

input.schedule,input[func='schedule']
{
    width: 15em;
}

table.SIGTable
{
    border-width: 0px;
    border-spacing: 0px;
    padding: 0px;
    border-collapse: collapse;
}
.sigOption
{
    float: left;
    background: white;
    opacity: 1;
    z-index: 10;
    margin: 0px;
    padding: 5px;
}

.sigOption[func='qty'] table
{
    width: 100%;
}
.sigOption[func='qty'] td
{
    text-align: center;
}