/* 
    Document   : TextAddProblem
    Created on : Oct 26, 2011, 6:19:55 PM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

span[func='controlGroup']
{
    position: absolute;
    overflow: visible;
}
div[func='probDisplay']
{
    position:fixed;
    background: white;
    z-index: 999;

    top: 1px;
    right: 1px;
    height: 99%;
    border: 1px solid black;
    overflow: auto;
}
div[func='probDisplay'] table
{
    float: left;
    position: relative;
}

div.closeDiv
{
    position: relative;
    float:right;
}