body {
    font-family: sans-serif;
}

span[entrytype="Observation"]:not(:last-child):after
{
content: ",";
}

section[entrytype="Section"][depth="1"]
{
    border-top:2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;   
}
section[entrytype="Section"][depth="1"]:last-of-type
{
    border-bottom:2px black solid;
}

span.content{
}
section[entrytype="Section"][depth="2"]
{
    margin: 0 0 0 2em;
}

section[entrytype="Section"] > span.label
{
    display: inline;
}
section[entrytype="Section"] > span.label:after
{
    content: ":";
}

section[entrytype="Section"] > span.content
{
    display:block;
    max-width: fit-content;
}
section[entrytype='Narrative']
{
    padding: 0 0 0 3px;
}
textarea[entrytype='Narrative']{
    width: 60em;
    max-width:95%;
    margin: 0px 0px;
    display: inline;
}

span.label
{
    font-weight: bold;
}

@font-face {
    font-family: iconic;
    src: url(/openemr/interface/themes/iconic/iconic_stroke.otf);
    font-weight:100;
}

.document_iconic
{
    font-family: iconic;
    cursor: pointer;
    margin: 0 0.1em 0 0.4em;
    padding:0 0.1em;
    border: 1px solid lightgray;
}

.delete_button
{
    display: inline;
    vertical-align: top;
    color: red;
}