

span[entrytype="Observation"]:not(:last-child):after
{
content: ",";
}

section[entrytype="Section"][depth="1"]
{
    border-top:2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;   
}
section[entrytype="Section"][depth="1"]:last-of-type
{
    border-bottom:2px black solid;
}

span.content{
}
section[entrytype="Section"][depth="2"]
{
    margin: 0 0 0 2em;
}

section[entrytype="Section"] > span.label
{
    display: inline;
}
section[entrytype="Section"] > span.label:after
{
    content: ":";
}

section[entrytype="Section"] > span.content
{
    display:block;
    max-width: fit-content;
}

