.icd9
{
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    background: #F0F0F0;
    max-width: 45%;
    border: 1px solid grey;
    height: 95%;
    overflow-y: scroll;
}

.icd9 tbody
{
}

.icd9 table
{
    border-collapse:collapse;
    width: 100%;
}
.icd9 td
{
    border: 1px black solid;
}
.icd9 tr.priority
{
    color: blue;
}
.icd9 tr[depth='2'],.icd9 tr[depth='3'],.icd9 tr[depth='4'],.icd9 tr[depth='5']
{
    display:none
}

.icd9 tr.keywords
{
    color:red;
    display: none;
}
.icd9 tr[type='NS'], .icd9 tr[type='Section']
{
    font-weight: bold;
}


.icd9 tr:hover{
    background-color: yellow;
}