.icd9
{
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    background: #F0F0F0;
    max-width: 45%;
    border: 1px solid grey;
    height: 95%;
    overflow-y: scroll;
    width: 45em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .icd9
    {
        cursor: pointer;
        position: relative;
        top: 1.1em;
        left: 0;
        z-index: 500;
        background: #F0F0F0;
        border: 1px solid grey;
        overflow-y: scroll;
        width: 45em;
    }

}
.icd9 tbody
{
}

.icd9 table
{
    border-collapse:collapse;
    width: 100%;
}
.icd9 td
{
    border: 1px black solid;
}

.icd9 td.codeNum
{
    width: 4em;
}

.icd9 tr.priority
{
    color: blue;
}
.icd9 tr[depth='2'],.icd9 tr[depth='3'],.icd9 tr[depth='4'],.icd9 tr[depth='5']
{
    display:none
}

.icd9 tr.keywords
{
    color:red;
    display: none;
}
.icd9 tr[type='NS'], .icd9 tr[type='Section']
{
    font-weight: bold;
}


.icd9 tr:hover{
    background-color: yellow;
}


.icd9controls
{
    position: relative;
}
.icd9_iconic
{
    font-family: iconic;
    cursor: pointer;
    margin: 0 0.1em 0 0.4em;
    padding:0 0.1em;
}

.icd9_close
{
    float: right;
}

.icd9typeselector
{
    padding: 0 0.2em;
    border: 1px black solid;
}

.icd9 .type_selected
{
    background-color: lightblue;
}