/* 
    Document   : DocumentEditor
    Created on : Jun 1, 2011, 11:05:55 AM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

section span[entrytype] {
    position: relative;
    margin: 0.2em;
}

section {
    position: relative;
    left: 10px;
    font-size:small;
}
button {
    font-size:small;
}
.label {
    font-size: large;
}
textarea[entrytype='Narrative'] {
    width: 400px;
    font-size:small;
    
}


.dialog
{
        position: fixed;
        top:5px;
        right: 5px;
        width: 95%;
        height: 95%;
        background-color:#FFFFFF;
        border:1px solid #999999;
        font-family: sans-serif;
        font-size:small;
        z-index: 1000;
        overflow: auto;
        opacity: 0.9;

}

#status
{
        position: fixed;
        top:5px;
        right: 40px;
        width: 50%;
        height: 15%;
        background-color:#FFFFFF;
        border:1px solid #999999;
        font-family: sans-serif;
        font-size:small;
        z-index: 1000;
        overflow: auto;
        opacity: 0.9;
}

#lockDialog
{
        position: fixed;
        top:5px;
        right: 5px;
        width: 450px;
        height:100px;
        background-color:#FFFFFF;
        border:1px solid #999999;
        font-family: sans-serif;
        font-size:small;
        z-index: 1000;
        overflow: auto;
        opacity: 0.95;
}

    .highlight {
        background-color: yellow;
        cursor: pointer;
    }
    
[contenteditable] {
    border: 2px inset grey;
    width: 80em;
}

[entrytype="Narrative"] {
    display: inline;
}