/* 
    Document   : DocumentEditor
    Created on : Jun 1, 2011, 11:05:55 AM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body
{
    background-color: #FEFDCF;
    font-family: sans-serif;
}
section span[entrytype] {
    position: relative;
    margin: 0.1em;
}

section[entrytype='Section'] {
    position: relative;
    left: 10px;
    font-size:small;
    max-width: 95%;
}

button{
    margin:0;
    padding: 0;
}

span.NarSpan
{
    display: block;
}
.LABEL {
        font-weight: bold;
}
button {
    font-size: xx-small;
}
.label {
    font-size: large;
}
textarea[entrytype='Narrative'] {
    width: 400px;
    font-size:small;
    
}
#dialogReview
{
    z-index: 900;
}

.dialog
{
        position: fixed;
        top:5px;
        right: 10px;
        width: 45%;
        height: 95%;
        background-color:#F0F0F0;
        border:1px solid #999999;
        font-family: sans-serif;
        font-size:small;
        z-index: 1000;
        overflow: auto;
        opacity: 0.98;

}

#status
{
        position: fixed;
        top:5px;
        right: 40px;
        width: 50%;
        height: 15%;
        background-color:#FFFFFF;
        border:1px solid #999999;
        font-family: sans-serif;
        font-size:small;
        z-index: 1000;
        overflow: auto;
        opacity: 0.95;
}

#lockDialog
{
        position: fixed;
        top:5px;
        left: 5px;
        width: 450px;
        height:100px;
        background-color:#FFFFFF;
        border:1px solid #999999;
        font-family: sans-serif;
        font-size:small;
        z-index: 1000;
        overflow: auto;
        opacity: 0.95;
}

    .highlight {
        background-color: yellow;
        cursor: pointer;
    }
    
[contenteditable] {
    border: 2px inset grey;
    width: 75em;
}

[entrytype="Narrative"] {
    display: inline;
}

input[type="TEXT"][entrytype='quantitative'] {
    width: 2.5em;
}
table[type='form'] tr {
    border: black;
}

table[type='form'] {
    width: 19em;
}

section span[entrytype="Observation"],section span[entrytype="QuantitativeEntry"]

{
    border: 1px dotted black;
}

section[hidden='true']
{
    display: none;
}