/* 
    Document   : sectionForms
    Created on : Jul 6, 2011, 11:07:09 AM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.formSpan
{
    background-color:white;
    float:left;
}

table[type='form'] { 
    background-color: white;
    cursor: pointer;
    border: 1px solid;
    padding: 0px;
    margin: 0px;
}
table[type='form'] td { 
    border: 0px;
    padding: 0px;
}
tr[classification='normal']
{
    background-color: lightgreen;
}

tr[classification='abnormal']
{
    background-color: lightpink;
}

.TableFreeText
{
    width: 99%;
}

.TableDivFreeText
{
    padding-right: 6px;
}
.displayForm
{
    z-index: 999;
    background-color:#F0F0F0;
    opacity:1;
    clear:right;
    
}