/* 
    Document   : sectionForms
    Created on : Jul 6, 2011, 11:07:09 AM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table[type='form'] { 
    float: left;
    cursor: pointer;
    border: 1px solid;
    padding: 1px;
}

tr[classification='normal']
{
    background-color: lightgreen;
}

tr[classification='abnormal']
{
    background-color: lightpink;
}

.TableFreeText
{
    width: 100%;
}

.TableDivFreeText
{
    padding-right: 6px;
}
.displayForm
{
    display:block;
    clear: both;
    z-index: 999;
    background-color: white;
    opacity:1;
    
    
}