/* 
    Document   : medications
    Created on : Jun 7, 2012, 1:47:49 PM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

.medication_chooser
{
    cursor: pointer;
    position: absolute;
    display: block;
    top: 1.2em;
    left: 0;
    z-index: 500;
    background: #F0F0F0;
    border: 1px solid grey;
    overflow-y: scroll;
    width: 45em;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .medication_chooser
    {
        cursor: pointer;
        position: absolute;
        top: 1.2em;
        left: 0;
        z-index: 500;
        background: #F0F0F0;
        border: 1px solid grey;
        overflow-y: scroll;
        width: 45em;
    }
}