/* 
    Document   : medications
    Created on : Jun 7, 2012, 1:47:49 PM
    Author     : yehster
    Description:
        Purpose of the stylesheet follows.
*/

.medication_chooser
{
    cursor: pointer;
    position: fixed;
    top: 1em;
    right: 0;
    z-index: 500;
    background: #F0F0F0;
    border: 1px solid grey;
    overflow-y: scroll;
    height: 95%;
    width: 45em;
}